btnStyle {
    padding: 10px 20px;
    background-color: #ffcc00;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btnStyle:disabled {
    background-color: #ccc;
  }
  
  .lnk {
    text-decoration: none;
    font-weight: bold;
  }
  
  .text-white {
    color: white !important;
  }